.banner{
  background: url("/assets/images/banner-sm.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 551px;
  @include phone() {
    background: url("/assets/images/banner.png") no-repeat;
    height: 621px;
  }
}
.theme-one {
  background: url("/assets/images/theme-1-sm.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 84px;
  @include phone() {
    background: url("/assets/images/theme-1.png") no-repeat;
    height: 200px;
  }
}
.theme-one {
  background: url("/assets/images/theme-1-sm.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 84px;
  @include phone() {
    background: url("/assets/images/theme-1.png") no-repeat;
    height: 200px;
  }
}
.theme-two {
  background: url("/assets/images/theme-2-sm.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 84px;
  @include phone() {
    background: url("/assets/images/theme-2.png") no-repeat;
    height: 200px;
  }
}
.theme-three {
  background: url("/assets/images/theme-3-sm.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 84px;
  @include phone() {
    background: url("/assets/images/theme-3.png") no-repeat;
    height: 200px;
  }
}
.theme-four {
  background: url("/assets/images/theme-4-sm.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 84px;
  @include phone() {
    background: url("/assets/images/theme-4.png") no-repeat;
    height: 200px;
  }
}
.theme-five {
  background: url("/assets/images/theme-5-sm.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 84px;
  @include phone() {
    background: url("/assets/images/theme-5.png") no-repeat;
    height: 200px;
  }
}
.theme-six {
  background: url("/assets/images/theme-6-sm.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 84px;
  @include phone() {
    background: url("/assets/images/theme-6.png") no-repeat;
    height: 200px;
  }
}
.theme-seven {
  background: url("/assets/images/theme-7-sm.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 84px;
  @include phone() {
    background: url("/assets/images/theme-7.png") no-repeat;
    height: 200px;
  }
}
.theme-eight {
  background: url("/assets/images/theme-8-sm.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 84px;
  @include phone() {
    background: url("/assets/images/theme-8.png") no-repeat;
    height: 200px;
  }
}
.articles-one {
  background: url("/assets/images/articles-1-sm.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 192px;
  @include phone() {
    background: url("/assets/images/articles-1.png") no-repeat;
  }
}
.articles-two {
  background: url("/assets/images/articles-2-sm.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 192px;
  @include phone() {
    background: url("/assets/images/articles-2.png") no-repeat;
  }
}
.smile-triple {
  @include phone() {
    background: url("/assets/images/bg-1.png") no-repeat;
    height: 81px;
    width: 217px;
  }
}
.smile-single {
  background: url("/assets/images/bg-2-sm.png") no-repeat;
  width: 160px;
  height: 104px;
  @include phone() {
    background: url("/assets/images/bg-2.png") no-repeat;
    height: 300px;
    width: 196px;
  }
}
.every-look-one {
  background: url("/assets/images/hots-1-sm.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 157px;
  @include phone() {
    background: url("/assets/images/hots-1.png") no-repeat;
    width: 210.75px;
    height: 232px;
  }
}
.every-look-two {
  background: url("/assets/images/hots-3-sm.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 157px;
  @include phone() {
    background: url("/assets/images/hots-2.png") no-repeat;
    width: 210.75px;
    height: 232px;
  }
}
.every-look-three {
  background: url("/assets/images/hots-4-sm.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 157px;
  @include phone() {
    background: url("/assets/images/hots-3.png") no-repeat;
    width: 210.75px;
    height: 232px;
  }
}
.every-look-four {
  background: url("/assets/images/hots-5-sm.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 157px;
  @include phone() {
    background: url("/assets/images/hots-4.png") no-repeat;
    width: 210.75px;
    height: 232px;
  }
}
.every-look-five {
  background: url("/assets/images/read-1-sm.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 157px;
}
.life-one {
  background: url("/assets/images/life-1-sm.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 192px;
  @include phone() {
    background: url("/assets/images/life-1.png") no-repeat;
    height: 232px;
  }
}
.life-two {
  background: url("/assets/images/life-2-sm.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 192px;
  @include phone() {
    background: url("/assets/images/life-2.png") no-repeat;
    height: 232px;
  }
}
.life-three {
  background: url("/assets/images/life-3-sm.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 192px;
  @include phone() {
    background: url("/assets/images/life-3.png") no-repeat;
    height: 232px;
  }
}
.proposal-one {
  background: url("/assets/images/projects-2.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 236px;
}
.proposal-two {
  background: url("/assets/images/projects-1.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 236px;
}
.proposal-three {
  background: url("/assets/images/projects-4.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 236px;
}
.proposal-four {
  background: url("/assets/images/projects-3.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 236px;
}
.article-banner {
  background: url("/assets/images/article-banner-sm.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 240px;
  @include phone() {
    background: url("/assets/images/article-banner.png") no-repeat;
    height: 454px;
  }
}
.article-content-one {
  background: url("/assets/images/content-1-sm.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 227px;
  @include phone() {
    background: url("/assets/images/content-1.png") no-repeat;
    height: 390px;
  }
}
.article-content-two {
  background: url("/assets/images/content-3-sm.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 228px;
  @include phone() {
    background: url("/assets/images/content-3.png") no-repeat;
    height: 390px;
  }
}
.article-content-three {
  background: url("/assets/images/content-4-sm.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 228px;
  @include phone() {
    background: url("/assets/images/content-4.png") no-repeat;
    height: 390px;
  }
}
.article-content-four {
  background: url("/assets/images/content-2-sm.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 227px;
  @include phone() {
    background: url("/assets/images/content-2.png") no-repeat;
    height: 390px;
  }
}
.article-read-one {
  background: url("/assets/images/read-1-sm.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 200px;
  @include phone() {
    background: url("/assets/images/read-1.png") no-repeat;
    height: 147px;
  }
}
.article-read-two {
  background: url("/assets/images/read-2-sm.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 200px;
  @include phone() {
    background: url("/assets/images/read-2.png") no-repeat;
    height: 147px;
  }
}
.article-read-three {
  background: url("/assets/images/read-3-sm.png") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 200px;
  @include phone() {
    background: url("/assets/images/read-3.png") no-repeat;
    height: 147px;
  }
}