<footer class="bg-primary ">
  <div class="container border-top border-color-border py-sm-7 py-6">
    <p class="text-danger text-center fs-7 fs-sm-5 ">©Vivre 2024 All right Reserved</p>
  </div>
</footer>



